h2
{
    text-align: center;
}

#img
{
    margin-left: auto;
    margin-right: auto;
}

#img2
{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#img3
{
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

#table
{
    text-align: center;
    color: #150909;
    font-size: 18px;
    font-family: Arial;
}

#frameGoogle
{
    margin-left: 15%;
    text-align: center;
    width: 70%;
    height: 500px;
    border: inset 1px;
    border-radius: 5px;
}
