h2
{
    text-align: center;
}

#android
{
    color: #2aac10;
    font-size: 18px;
    font-family: Arial;
    margin-left: 50px;
}
#androidImg
{
    margin-left: 25%;
}
#blocTextAndroid
{
    margin-left: 100px;
    margin-right: 50px;
}

#table
{
    text-align: center;
    color: #150909;
    font-size: 18px;
    font-family: Arial;
    margin-left: 50px;
}

#iOS
{
    color: #054f6f;
    font-size: 18px;
    font-family: Arial;
    margin-left: 50px;
}
#iOSImg
{
    margin-left: 25%;
    width: 50%;
}
#blocTextiOS
{
    margin-left: 100px;
    margin-right: 50px;
}

#frameGoogle
{
    text-align: center;
    margin-left: 25%;
    width: 50%;
    height: 500px;
    border: inset 1px;
    border-radius: 5px;
}
